.dialog__filter-chapter {
    position: absolute;
    margin: 0;
    top: 400px;
    left: 400px;
    width: 481px;
    height: max-content;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #AEAEAE40;
    box-shadow: 0px 10px 16px 0px #AEAEAE26;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    display: none;
}

.dialog__filter-chapter p {
    margin: 0;
    font-family: "Helios Cond", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.filter-chapter-conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.label-checkbox-chapter input {
    z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
    margin: 0;
    padding: 0;
}

.label-checkbox-chapter span {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 24px;
    padding: 0 12px;
    border-radius: 99px;
    background-color: #00426912;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #00395CCC;
    cursor: pointer;
    user-select: none;
}

.dialog__filter-chapter-button-box {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.dialog__filter-chapter-button-box button {
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    border-style: none;
    padding: 0;
    min-width: 88px;
    min-height: 40px;
    cursor: pointer;
    user-select: none;
}

.filter-chapter-button-apply {
    background-color: #006FAC;
    color: #FFFFFF;
}

.filter-chapter-button-apply:hover {
    background-color: #0078D2;
}

.filter-chapter-button-reset {
    background-color: #E9EDF4;
    color: #1D222F;
}

.filter-chapter-button-reset:hover {
    background-color: #C9C9D7;
    color: #006FAC;
}

.label-checkbox-chapter span:hover {
    background-color: #C9C9D7;
}

.label-checkbox-chapter input[type=checkbox]:checked + span {
	background-color: #0078D2;
    color: #FFFFFF;
}

dialog:-internal-dialog-in-top-layer::backdrop {
    background: none;
}



@font-face {
    font-family: "Helios Cond";
    src: url("../fonts/ofont.ru_Helios Cond.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}