.main__info {
    margin-top: 36px;
    margin-bottom: 2px;
}

.main__title {
    margin-top: 24px;
    font-size: 28px;
}

.main__section-conteiner {
    display: block;
}

.main__applications-list {
    margin-top: 8px;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.main__applications-nav {
    display: grid;
    grid-template-columns: 90px 90px 120px 760px 120px 120px 160px;
    gap: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid #F4F6FA;
    position: relative;
}

.main__applications-nav-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main__applications-nav-item button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-style: none;
    padding: 0;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7F7F91;
    background-color: #FFFFFF;
    height: max-content;
}

.main__applications-nav-item button img {
    width: 16px;
    height: 16px;
}

.main__applications-nav-item button:hover {
    color: #1B6FBC;
}

.main__applications-nav-item button:hover > img {
    filter: invert(36%) sepia(21%) saturate(3785%) hue-rotate(171deg) brightness(89%) contrast(105%);
}

.main__applications-nav-item button:focus > img {
    filter: invert(36%) sepia(21%) saturate(3785%) hue-rotate(171deg) brightness(89%) contrast(105%);
}

.number-img {
    display: none;
}

.main__applications-nav-item button:focus > .number-img {
    display: block;
}

.service button:hover {
    color: #7F7F91;
}

.main__applications-item-box {
    display: grid;
    grid-template-columns: 90px 90px 120px 760px 120px 120px 160px;
    gap: 24px;
    border-bottom: 1px solid #F4F6FA;
    min-height: 72px;
    align-items: center;

}

.main__applications-item {
    display: flex;
    align-items: center;
    position: relative;
}

.main__applications-item span {
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1D222F;
}

.ready-img {
    width: 6px;
    position: absolute;
    top: 0;
}

.ready-button {
    border-style: none;
    min-width: 50px;
    background-color: #84BF42;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    font-family: "Helios Cond", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__applications-item a {
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D222F;
    text-decoration: none;
}

.main__applications-item a:hover {
    color: #1B6FBC;
    font-size: 17px;
    text-decoration: underline;
}

.at-work-button {
    border-style: none;
    min-width: 59px;
    background-color: #1B6FBC;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    font-family: "Helios Cond", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.closed-button {
    border-style: none;
    min-width: 60px;
    background-color: #C9C9D7;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    font-family: "Helios Cond", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__applications-button-navigation-box {
    padding-top: 16px;
    display: flex;
    justify-content: center;
}

.main__applications-button-avigation {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.main__applications-button-avigation button img {
    width: 24px;
    height: 24px;
}

.main__applications-button-avigation button {
    display: flex;
    align-items: center;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #1D222F;
    padding: 0;
    border-style: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

#button-avigation-back {
    color: #7F7F91;
}

#active-list {
    color: #006FAC;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.main__applications-button-avigation button:hover {
    color: #006FAC;
}

.main__applications-button-avigation button img:hover {
    filter: invert(36%) sepia(21%) saturate(3785%) hue-rotate(171deg) brightness(89%) contrast(105%);
}

#button-avigation-back:hover {
    color: #006FAC;
}

@media (min-width: 1921px){
    .main__applications-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr 4fr 1.5fr 1.5fr 2fr;
        gap: 24px;
        padding-bottom: 12px;
        border-bottom: 1px solid #F4F6FA;
    }

    .main__applications-item-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr 4fr 1.5fr 1.5fr 2fr;
        gap: 24px;
        border-bottom: 1px solid #F4F6FA;
        min-height: 72px;
        align-items: center;
    
    }
}

@media (max-width: 1920px){
    .main__applications-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr 4fr 1.5fr 1.5fr 2fr;
        gap: 24px;
        padding-bottom: 12px;
        border-bottom: 1px solid #F4F6FA;
    }

    .main__applications-item-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr 4fr 1.5fr 1.5fr 2fr;
        gap: 24px;
        border-bottom: 1px solid #F4F6FA;
        min-height: 72px;
        align-items: center;
    
    }
}