.main__form-manual-text {
    border-bottom: 1px solid #C9C9D780;
}


.main__form-manual-title {
    margin-bottom: 24px;
}

.main__form-manual-remark {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.main__form-manual-remark-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 230px;
}

.main__form-manual-remark-title img {
    width: 24px;
    height: 24px;
}

.main__form-manual-remark-title span {
    font-family: "Helios Cond", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #1D222F;
}

.main__form-manual-remark-list p{
    margin: 0;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #292D32;
}

.main__form-manual-remark-list ul {
    margin: 0;
    padding-left: 24px;
}

.main__form-manual-remark-list li {
    margin: 0;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #292D32;
}
