.main__section-conteiner {
    display: grid;
    grid-template-columns: 1fr 349px;
    gap: 0 16px;
}

.main__info {
    margin-top: 36px;
    margin-bottom: 2px;
}

.main__title {
    margin-top: 24px;
    font-size: 28px;
}


.main__applications-list {
    margin-top: 8px;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.main__applications-nav {
    display: grid;
    grid-template-columns: 120px 707px 120px 180px;
    gap: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid #F4F6FA;
    position: relative;
}

.main__applications-nav-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main__applications-nav-item button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-style: none;
    padding: 0;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7F7F91;
    background-color: #FFFFFF;
    height: max-content;
    cursor: pointer;
}

.main__applications-nav-item button img {
    width: 16px;
    height: 16px;
}

.main__applications-nav-item button:hover {
    color: #1B6FBC;
}

.main__applications-nav-item button:hover > img {
    filter: invert(36%) sepia(21%) saturate(3785%) hue-rotate(171deg) brightness(89%) contrast(105%);
}

.main__applications-nav-item button:focus > img {
    filter: invert(36%) sepia(21%) saturate(3785%) hue-rotate(171deg) brightness(89%) contrast(105%);
}

.out-img {
    transform: rotate(180deg);
    display: none;
}

.main__applications-nav-item button:focus > .out-img {
    display: block;
}
.name button {
    cursor: default;
}

.name button:hover {
    color: #7F7F91;
}

.main__applications-item-box {
    display: grid;
    grid-template-columns: 120px 707px 120px 180px;
    gap: 24px;
    border-bottom: 1px solid #F4F6FA;
    min-height: 72px;
    align-items: center;

}

.main__applications-item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}

.main__applications-item span {
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
}

.equipment-type {
    font-size: 15px;
    line-height: 24px;
    color: #1D222F;
}

.main__applications-item a {
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D222F;
    text-decoration: none;
}

.serial-number {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.main__applications-item a:hover {
    color: #1B6FBC;
    font-size: 17px;
    text-decoration: underline;
}

.button-actions {
    gap: 8px;
}

.button-actions button {
    border-style: none;
    height: 40px;
    padding: 0 16px 0 16px;
    border-radius: 8px;
    background-color: #E9EDF4;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.button-actions button:hover {
    background-color: #C9C9D7;
    color: #006FAC;
}

.main__aside-bar {
    width: 301px;
    height: 297px;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #FFFFFF;
    margin-top: 24px;
    align-items: center;
}

.main__aside-keyboard-icon {
    width: 88px;
    height: 88px;
    margin: 36px;
}

.main__aside-title {
    font-family: "Helios Cond", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #002033;
}

.main__aside-button-box {
    width: 100%;
}

.main__aside-button-register {
    height: 40px;
    width: 100%;
    border-style: none;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 16px 0 16px;
    background-color: #006FAC;
    border-radius: 8px;
    cursor: pointer;
}


.main__aside-button-register:hover {
    background-color: #1B6FBC;
}

@media (min-width: 1921px){
    .main__applications-nav {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1.5fr;
        gap: 24px;
        padding-bottom: 12px;
        border-bottom: 1px solid #F4F6FA;
    }

    .main__applications-item-box {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1.5fr;
        gap: 24px;
        border-bottom: 1px solid #F4F6FA;
        min-height: 72px;
        align-items: center;
    
    }
}

@media (max-width: 1920px){
    .main__applications-nav {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1.5fr;
        gap: 24px;
        padding-bottom: 12px;
        border-bottom: 1px solid #F4F6FA;
    }

    .main__applications-item-box {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1.5fr;
        gap: 24px;
        border-bottom: 1px solid #F4F6FA;
        min-height: 72px;
        align-items: center;
    
    }
}