.main {
    margin-right: 32px;
}
/* Первый section */
.main__info {
    margin-top: 20px;
}

.main__title {
    margin: 0;
    font-family: "Helios Cond", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color:black;
    line-height: 40px;
}

.main__title span {
    color: #006FAC;
}

.main__text {
    margin: 0;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: black;
    margin-bottom: 24px;
}

.bold-text {
    font-family: "Helios Cond", sans-serif;
    font-weight: 700;
    margin: 0;
}

/* Второй section */
.main__conteiner {
    margin: 0;
}

.main__button-box {
    display: flex;
    align-items: flex-start;
    gap: 4px 24px;
}

.main__button {
    padding: 0;
    border-style: none;
    background-color: #F4F6FA;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1D222F;
    line-height: 32px;
    cursor: pointer;
}

.activity {
    text-decoration: none;
    border-bottom: 2.5px #006FAC solid;
    font-weight: 700;
    color: #006FAC; 
}


.main__form-search {
    width: 1284px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    background-color: #E9EDF4;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
}

.main__search {
    width: 100%;
    height: 40px;
    outline: none;
    border-style: none;
    background-color: #E9EDF4;
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.main__img-search {
    width: 20px;
    height: 20px;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}


.main__card-collection {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 10px;
}

.main__card {
    min-height: 196px;
    border-radius: 12px;
    padding: 24px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../image/main/image-card/Group 129.svg');
    background-size: 226.59px 188px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    position: relative;
}

.main__card-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main__card-info img {
    width: 64px;
}

.main__card-info span {
    font-family: "Helios Cond", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #1D222F;
}

.main__card-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    position: relative;
}

.main__card-button-info {
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #006FAC;
    text-align: left;
    width: 85%;
}

.main__card-button button {
    width: 32px;
    height: 32px;
    border-style: none;
    background: none;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.main__card-button button img{ 
    width: 32px;
    height: 32px;
}

/* Правая боковая панель с разными новостями, например "популярное о компании" */

.main__section-conteiner {
    display: grid;
    grid-template-columns: 1fr 349px;
    gap: 0 16px;
}

.main__aside-bar {
    width: 301px;
    height: 297px;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #FFFFFF;
    margin-top: 24px;
}

.main__aside-title {
    font-family: "Helios Cond", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #1D222F;
    margin: 0;
}

.main__aside-info-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__aside-info-card {
    border-style: none;
    background-color: #FFFFFF;
    padding: 0;
    width: 301px;
    min-height: 66px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    cursor: pointer;
}

.main__aside-info-card-logo img {
    width: 48px;
    height: 48px;
}

.main__aside-info-card-text {
    display: flex;
    flex-direction: column;
}

.main__aside-card-text-top {
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #1D222F;
    margin: 0;
    text-align: left;
}

.main__aside-card-text-botton {
    font-family: "Helios Cond", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #006FAC;
    margin: 0;
    text-align: left;
}


@font-face {
    font-family: "Helios Cond";
    src: url("../fonts/ofont.ru_Helios Cond.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}


@media (min-width: 1600px) {
    .main__form-search {
        width: auto;
    }
}


@media (max-width: 1590px){
    .main__form-search {
        width:auto;
    }
    .main {
        width:auto;
    }

    .main__card-collection {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px 10px;
    }
}

@media (max-width: 1350px){
    .main__form-search {
        width:auto;
    }
    .main {
        width:auto;
    }

    .main__card-collection {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 10px;
    }
}

@media (max-width: 1024px){
    .main__form-search {
        width:auto;
    }
    .main {
        width:auto;
    }

    .main__card-collection {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px 10px;
    }
}